/*{border: 1px solid red;}*/

#header{
    background-color: #1F2937;
}
body{
    margin: 0px;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto',Arial,serif;
    justify-content: flex-start;
}
ul{
    list-style-type: none;
    display: flex;
    align-items: center;
    padding: 0px 15px;
    gap: 30px;
}
.hlogo{
    font-size: 24px;
    color: #F9FAF8;
    margin-right: auto;
}
.hlink{
    font-size: 18px;
    color: #c9cacc;
}

#hero{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    padding: 50px 0px ;
}
.header-content{
    width: 400px;
}
.main-title{
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    margin: 0px;
}
.subtext{
    font-size: 18px;
    color: #c9cacc;
    margin: 0px;
}
.placeholder-img{
    width: 350px;
    height: auto;
}
.sign-up-button{
    font-size: medium;
    font-weight: 550;
    color: #F9FAF8;
    background-color: #3882f6;
    padding: 7px 33px;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
}
#info{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 60px;
}
.info-header{
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}
.info-content{
    display: flex;
    gap: 50px;
}
.img-container{
    width: 150px;
    height: 150px;
    border: 5px solid #3882f6;
    border-radius: 15px;
}
.info-subtext{
    text-align: center;
    max-width: 150px;
    font-size: 16px;
    color: #898a8a;
    margin: 0px;
}
